// Imports
@import "nullstyle.scss";

// Colors
$green: #41CD8C;
$white: #FFFFFF;
$grey: #F4F3F0;
$black: #0E0E11;
$ff-roboto: 'Roboto', sans-serif;
// Fonts
// Roboto: Light 300
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
// Roboto: Medium 500
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

////////////////////////////////////////////////////////////

// Text
.normal_text {
    font-family: $ff-roboto;
    font-weight: 300;
    color: $black;
    font-size: 14px;
}

.bold_text {
    font-family: $ff-roboto;
    font-weight: 500;
    color: black;
    font-size: 15px;
}

.big_text {
    font-family: $ff-roboto;
    font-weight: 500;
    color: black;
    font-size: 18px;
}

///////////////////////////////////////

.header {
    background-color: $green;
    height: 60px;
    .part_3_container {
        display: flex;
        justify-content: right;
    }
    .header__buttons_container {
        display: flex;
        width: 15%;
        height: 60px;
        margin-right: 20px;
    }
    .login_button_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:$green;
        border: 1px solid $white;
        width: 90px;
        height: 40px;
        border-radius: 25px;
        margin: auto;
        &:hover {
            background-color:$white;
            .login_button {
                color: $green;
            }
        }
    }
    .login_button {
        color: $white;
        text-align: center;
    }
    .logo_container {
        margin-left: 20px;
        position: absolute;
        top: 0px;
        height: 60px;
        max-width: 15%;
        .logo {
            width: 100%;
            height: 100%;
        }
    }
}