@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.normal_text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #0E0E11;
  font-size: 14px;
}

.bold_text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: black;
  font-size: 15px;
}

.big_text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: black;
  font-size: 18px;
}

.container {
  max-width: 1136px;
  margin: 0 auto;
  text-align: center;
}

.header {
  background-color: #41CD8C;
  height: 60px;
}
.header .part_3_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.header .header__buttons_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  height: 60px;
  margin-right: 20px;
}
.header .login_button_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #41CD8C;
  border: 1px solid #FFFFFF;
  width: 90px;
  height: 40px;
  border-radius: 25px;
  margin: auto;
}
.header .login_button_wrapper:hover {
  background-color: #FFFFFF;
}
.header .login_button_wrapper:hover .login_button {
  color: #41CD8C;
}
.header .login_button {
  color: #FFFFFF;
  text-align: center;
}
.header .logo_container {
  margin-left: 20px;
  position: absolute;
  top: 0px;
  height: 60px;
  max-width: 15%;
}
.header .logo_container .logo {
  width: 100%;
  height: 100%;
}