@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,800&display=swap);
input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

/* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent;
}

/* FF 19+ */
input:focus:-ms-input-placeholder {
  color: transparent;
}

/* IE 10+ */
.active {
  display: block;
}

.hidden {
  display: none;
}

.activities__div {
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  border: 4px solid transparent;
}

.gender_button {
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  border: 4px solid transparent;
}

.active_btn {
  border: 4px solid #41CD8C;
}

.passive_btn {
  border: none;
}

.normal_text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #0E0E11;
  font-size: 20px;
}

.bold_text {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #0E0E11;
  font-size: 20px;
}

.normal_plus_text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #0E0E11;
  font-size: 26px;
}

.big_text {
  font-family: "Roboto", sans-serif;
  font-weight: regular;
  color: black;
  font-size: 36px;
}

.link_text {
  color: black;
}
.link_text:hover {
  color: #41CD8C;
}

@media (max-width: 1399.98px) {
  .normal_text {
    font-size: 16px;
  }

  .bold_text {
    font-size: 16px;
  }

  .big_text {
    font-size: 30px;
  }
}